/* Sebagai catatan div#jenis-selector tidak ikut dalam bagian. Ini digunakan untuk membatasi catatan*/

/* Child Selector */
div#jenis-selector p>i>b{
    color:red;
}

/* Descendent Selector */
div#jenis-selector p i{
    color:green;
}

/* Adjacent Sibling Selector */
div#jenis-selector h1+p{
    color:brown;
}

/* General Sibling Selector */
div#jenis-selector h2~p{
    color:darkslategray;
}